.header-container {
    min-height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    background: #355c7d;
    background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #355c7d);
    background: linear-gradient(to right, #355c7d, #6c5b7b, #355c7d);
}

.header-container li {
    list-style: none;
}

/* left section */
.header-section-container {
    height: 100%;
    flex: 3;
}

.header-dropdown-menu-container {
    height: 100%;
    width: 40px;
    position: relative;
}

.header-dropdown-menu-button {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
}

.header-dropdown-item-container {
    position: absolute;
    background-color: var(--menu-bg-color);
    box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    .header-dropdown-item-container {
        transform: translateY(20px);
    }
}

#hdic-left {
    height: 450px;
    width: 300px;
    top: var(--header-height);
    left: 0;
    font-size: 20px;
}

.header-dropdown-menu-button:focus+.header-dropdown-item-container,
.header-dropdown-item-container:hover {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 500px) {

    .header-dropdown-menu-button:focus+.header-dropdown-item-container,
    .header-dropdown-item-container:hover {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }
}

.header-dropdown-item {
    padding-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.header-dropdown-item:hover {
    background-color: var(--hovered-menu-bg-color);
}

/* homepage shortcut */
.header-homepage-shortcut-container {
    height: 100%;
    flex: 0 0 150px;
}

.header-homepage-link {
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--icon-letter-size);
    letter-spacing: var(--icon-letter-spacing);
}

/* right section */
#hsc-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

#hsc-right>span {
    width: 1px;
    height: calc(var(--header-height) - 16px);
    align-self: center;
    background-color: var(--header-stick-color);
}

.header-right-element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-right-element>button {
    border: none;
    /* background-color: var(--header-background-color); */
    background-color: inherit;
    cursor: pointer;
    margin: 5px;
}

.setting-container {
    width: var(--header-height);
}

.about-container {
    width: 80px;
}

.login-container {
    width: 80px;
}

#hdic-login {
    height: 300px;
    width: 450px;
    top: calc(100%);
    right: calc(-80px - var(--header-height));
    font-size: 20px;
}

#hdic-toolbar {
    height: calc(var(--header-height) * 2);
}

.hdic-settings {
    height: calc(var(--header-height) * 3);
    width: var(--header-height);
    top: calc(100%);
    right: 0;
    font-size: 20px;
}

.hrdmb-settings {
    font-size: 20px;
}

.hrdmb-settings>span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-item {
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.setting-item>button {
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: var(--menu-bg-color);
    border: none;
}

.setting-item>button:hover {
    background: var(--hovered-menu-bg-color);
    /* background-color: var(--hovered-menu-bg-color); */
}