.gallery-container {
    margin-top: var(--header-height);
    padding-top: 10px;
    height: calc(100% - var(--header-height));
    width: 100%;
    overflow: auto;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 220px;
}

.gallery-card-container {
    height: 220px;
    display: flex;
    flex-direction: column;
}

.card-thumbnail {
    flex: auto;
}

.card-info {
    font-size: 12px;
    display: flex;
    bottom: 0;
    opacity: 1;
    background-color: red;
    height: 20px;
}

.card-edit-button {
    background-color: green;
    width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-primary-link {
    text-decoration: none;
    flex: auto;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    overflow: hidden;
}

.card-source-link {
    text-decoration: none;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

@media screen and (min-width: 500px) {
    .gallery-container {
        padding: var(--gallery-container-padding);
        grid-template-columns: repeat(auto-fit, minmax(calc(500px - 2 * var(--gallery-container-padding)), 1fr));
        gap: 0rem;
    }

    .card-edit-button {
        display: none;
    }
    
    .card-info {
        font-size: 0;
        display: flex;
        position: absolute;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(60px);
        transition: opacity 800ms ease-in-out, transform 500ms ease-in-out;
    }

    .gallery-card-container {
        transition: transform 300ms ease-in-out;
    }

    .gallery-card-container:hover {
        transform: scaleY(1.2) scaleX(1.1);
    }

    .gallery-card-container:hover>.card-info {
        font-size: 12px;
        opacity: 1;
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: row;
        background-color: red;
        transform: translateY(0px);
        pointer-events: auto;
    }

    .gallery-card-container:hover .card-edit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 100%;
    }
}