.gallery-container {
    margin-top: var(--header-height);
    padding-top: 10px;
    height: calc(100% - var(--header-height));
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 220px;
}

.gallery-container>div {
    background-color: gray;
    height: 220px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.gallery-container>div>span {
    bottom: 0;
    opacity: 1;
    background-color: red;
    height: 30px;
}

@media screen and (min-width: 500px) {
    .gallery-container {
        padding: var(--gallery-container-padding);
        grid-template-columns: repeat(auto-fit, minmax(calc(500px - 2 * var(--gallery-container-padding)), 1fr));
    }
    
    .gallery-container>div>span {
        position: absolute;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(60px);
        transition: opacity 800ms ease-in-out, transform 500ms ease-in-out;
    }

    .gallery-container>div:hover {
        transform: scaleY(1.2) scaleX(1.1);
    }

    .gallery-container>div:hover>span {
        opacity: 1;
        width: 100%;
        height: 30px;
        background-color: red;
        transform: translateY(0px);
        pointer-events: auto;
    }
}