.gallery-container {
    margin-top: var(--header-height);
    padding-top: 10px;
    height: calc(100% - var(--header-height));
    width: 100%;
    overflow: auto;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: 220px;
}

.gallery-card-container {
    height: 220px;
    display: flex;
    flex-direction: column;
}

.card-thumbnail {
    flex: auto;
}

.card-info {
    font-size: 12px;
    display: flex;
    bottom: 0;
    opacity: 1;
    height: 20px;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-info>span {
    width: 1px;
    height: 60%;
    align-self: center;
    background-color: #555a77;
}

.card-edit-button {
    min-width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.card-primary-link {
    text-decoration: none;
    flex: auto;
    display: flex;
    font-size: small;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    text-overflow: ellipsis;
}

.card-source-link {
    min-width: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
}

@media screen and (min-width: 500px) {
    .gallery-container {
        padding: var(--gallery-container-padding);
        grid-template-columns: repeat(auto-fit, minmax(calc(500px - 2 * var(--gallery-container-padding)), 1fr));
        gap: 0rem;
    }

    .card-primary-link {
        display: none;
    }

    .card-edit-button {
        display: none;
    }

    .card-source-link {
        display: none;
    }

    .card-info>span {
        width: 0;
        height: 0;
    }

    .card-info {
        font-size: 0;
        display: flex;
        position: absolute;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateY(60px);
        transition: opacity 800ms ease-in-out, transform 500ms ease-in-out;
    }

    .gallery-card-container {
        transition: transform 300ms ease-in-out;
    }

    .gallery-card-container:hover {
        transform: scaleY(1.2) scaleX(1.1);
    }

    .gallery-card-container:hover .card-primary-link {
        text-decoration: none;
        flex: auto;
        display: flex;
        font-size: small;
        /* text-transform: uppercase; */
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
        text-overflow: ellipsis;
    }

    .gallery-card-container:hover .card-info>span {
        width: 1px;
        height: 60%;
        align-self: center;
        background-color: #555a77;
    }


    .gallery-card-container:hover>.card-info {
        font-size: 12px;
        opacity: 1;
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: row;
        transform: translateY(0px);
        pointer-events: auto;
    }

    .gallery-card-container:hover .card-source-link {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 100%;
    }

    .gallery-card-container:hover .card-edit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 100%;
    }
}