* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --window-min-width: 500px;
  --default-font: "Times New Roman";
  --header-height: 40px;
  --gallery-container-padding: 50px;
  --scrollbar-width: 12px;
  --scrollbar-border-radius: 5px;
  --gutter-hover-focus-width: 3px;
  --icon-letter-size: 22px;
  --icon-letter-spacing: 5px;
  --background-color: #000;
  --header-background-color: #2e2e2e;
  --border-color: #505558;
  --custom-color: #1e1e24;
  --scrollbar-track-color: gray;
  --header-stick-color: rgb(128, 122, 122);
  --menu-bg-color: #506e96;
  --hovered-menu-bg-color: #4288b6;

  --gray: #1f1d1d;
  /* --gray: rgb(151, 144, 144); */
  /* --menu-bg-color: #e0dddd; */

  /* -webkit-touch-callout: none; iOS Safari
  -webkit-user-select: none; Safari
  -khtml-user-select: none; Konqueror HTML
  -moz-user-select: none; Old versions of Firefox
  -ms-user-select: none; Internet Explorer/Edge
  user-select: none; */
}

* a, a :visited, a:hover, a:active {
  color: inherit;
}

* button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  border-right: none;
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-border-radius);
}

*::-webkit-scrollbar-corner {
  display: none;
}

body {
  background-color: var(--background-color);
  font-size: 16;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 500px) {
  .page-container {
    min-width: var(--window-min-width);
  }
}

.page-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* overflow-y: auto;
  overflow-x: hidden; */

}